$size1: 8em;
$size2: 3.5em;
$size3: 3em;
$size4: 2em;
$size5: 1.5em;
$size6: 1em;
$size7: 5em;
$size8:0.7375em;

ion-content{
  --ion-font-family: 'Roboto', 'sans-serif';
}
ion-header{
  --ion-text-color: #555;
}
ion-content{
  --background: linear-gradient(#2980B9, #6DD5FA) !important;
  --ion-text-color: #222;
}
.main{
  display: block;
  text-align: center;
}
.city{
  display: block;
  font-size: $size3;
  font-weight: bold;
  padding-top: 0.2em;
}

.country{
  display: block;
  font-size: $size5;
  font-weight: bold;
  padding-top: 0.2em;
  color: rgb(202, 199, 199);
}
.date{
  display: block;
  font-size: $size5;
  font-weight: bold;
}

.description{
display: block;
font-size: $size5;
font-weight: bold;
color: rgb(18, 6, 53);
}
.temperature{
  display: block;
  font-size: $size1;
  padding: 0px;
  margin: 0px;
}
.celcius{
  display: block;
  font-size: $size7;
  padding: 0px;
  margin: 0px;
}

.icon{
  display: block;
  font-size: $size4;
  padding-top: 0px;
}
ion-grid{
  text-align: center;
  position: fixed;
  bottom: 0%;
  margin: 0 auto;

}

.day{
  display: block;
  font-weight: bold;
}

.precipitation{
  display: block;
  font-size: $size8;
  color: rgb(68, 65, 65);
}
.icon-sm{
  display: block;
}
.hi-sm{
  display: block;
  font-size: $size8;
}
.lo-sm{
  display: block;
  font-size: $size8;
}
.copyright{
  display: block;
  font-size: $size8;
  text-align: center !important; 
}
.copyrightbk{
  background-color: rgb(3, 110, 110)!important;
  color: rgb(255, 255, 255);
  font-size: $size8;
}